::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

div[class^="fluent-background-"] {
    background-color: #1a1a1a;
}

/* Transition progress bar */
[class*="progress-bar-bar"] {
    transition: transform ease 300ms;
}

.import-list [class*="list-view-item-"]:hover button {
    opacity: 1;
}

/* react-uwp sidebar is broken */
[class*="split-view-command-icon-"] {
    font-size: 16px !important;
    line-height: 48px !important;
}

[class*="checkbox-iconParent"] {
    margin-left: auto;
}

/* react-uwp autosuggest is broken */
[class*="autosuggest-box-root"] {
    vertical-align: top !important;
}

/* react-uwp toasts have no font set and you can't set them via style attr */
[class*="toast-wrapper-"] {
    font-family: Segoe UI, Microsoft YaHei, Open Sans, sans-serif, Hiragino Sans GB, Arial, Lantinghei SC, STHeiti, WenQuanYi Micro Hei, SimSun;
}

.grid-fadein-appear {
    opacity: 0;
}

.grid-fadein-appear.grid-fadein-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.grid-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 150ms ease 0s;
    padding: 10px;
    z-index: 1;
}

.grid-overlay:hover {
    opacity: 1;
}